/**********************************************************************************************************************/
/* This stylesheet contains styles specific to the home (front) page, i.e. index.html.                                */
/**********************************************************************************************************************/

/**********************************************************************************************************************/
/* Styles specific to the left-most part of the main content */
.main-content article {
    padding: 20px;
    margin: 0 0;
    background-color: #D8D8D8;
    border-bottom: 2px solid #979797;
    text-align: justify;
    overflow: hidden;
}

.main-content article:last-child {
    /* Remove border for last article to avoid double border at the bottom of the news section */
    border-bottom: none;
}

.main-content article > h1 {
    margin-top: 0px;
    margin-bottom: 0.5em;
    font-weight: bold;
}

.main-content article > img {
    width: 350px;
    float: right;
    margin: 0 0 15px 15px;
}
/**********************************************************************************************************************/



/**********************************************************************************************************************/
/* Styles specific to the right-most part of the main content, i.e. the sidebar */
.sidebar .section-item .details>.details-content-wrapper ul {
    /* Hide bullet point in list displaying "Date and time" and "Location" for event */
    list-style: none;
    margin-top: 0px;
    margin-bottom: 0.3em;
    padding: 0 0;
}

.sidebar .section-item .details>.details-content-wrapper li>span {
    /* Make "Date and time" and "Location" stand out */
    font-weight: bold;
}
/**********************************************************************************************************************/



/**********************************************************************************************************************/
/* Styles that alters styles specific to the home (index) page based on screen size. */
@media screen and (max-width: 600px) {
    .main-content article > img {
        /* Restyle image width on smaller screens to make it fit in container. */
        width: 60%;
    }
}
/**********************************************************************************************************************/
