/* Home-made grid system based on this article:
 * http://designshack.net/articles/css/rolling-your-own-grid-layouts-on-the-fly-without-a-framework/
 */

.pagewrapper {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

.leftSection {
    width: 64%;
    margin-right: 3%;
    margin-top: 20px;
    display: inline-block;
}

.rightSection {
    width: 33%;
    /*margin-left: 3%;*/
    margin-top: 20px;
    display: inline-block;
    float: right;
}

/*.navbar-col-8 {*/
    /*float: left;*/
    /*width: 49.5%;*/
    /*margin-right: 1%;*/
/*}*/

/*.navbar-col-4 {*/
    /*float: left;*/
    /*width: 24.25%;*/
    /*margin-right: 1%;*/
/*}*/