/* note to self: http://designshack.net/articles/css/rolling-your-own-grid-layouts-on-the-fly-without-a-framework/ */

.pagewrapper {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

.leftSection {
    width: 64%;
    margin-right: 3%;
    float: left;
}

.rightSection {
    width: 33%;
    float: right;
}