/* Styles for the index.html */

#content-lhs {
    float: left;
    /*overflow: hidden;*/
    margin: 10px;
    /* Calculate width based on width of RHS content (including margins of this element and RHS element) */
    width: calc(100% - 426px - 10px - 10px - 10px - 10px);
}

#content-rhs {
    float: right;
    width: 426px;
    margin: 10px;
}

body {
    background-image: url('../images/brickwall-animated.jpg');
}

/* Style images returned from the flickr search */
#search-results-container img {
    /*width: 50%;*/
    /*height: auto;*/
    /*max-width: 100%;*/
    /*-ms-transform: scale(0.5, 0.5);  *//* IE 9 */
    /*-webkit-transform: scale(0.5, 0.5);  *//* Safari */
    /*transform: scale(0.5, 0.5);*/
}

/*#search-results-container img:hover {*/
    /*-ms-transform: scale(1, 1);  *//* IE 9 */
    /*-webkit-transform: scale(1, 1);  *//* Safari */
    /*transform: scale(1, 1);*/
/*}*/

#search-results-container {
    vertical-align: middle;
}


#search-results-container span {
    display: inline-block;
    vertical-align: middle;
    line-height: 320px;
}

#search-results-container span>img {
    width: 50%;
    height: auto;
    vertical-align: middle;
    transition: width 0.5s;
}

@keyframes slide-in {
    from { top: -200px; }
    to { top: 0px; }
}

@-webkit-keyframes slide-in {
    from { top: -200px; }
    to { top: 0px; }
}

/********************************************************************************/
/* Animation that fades out an element. */
@keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@-webkit-keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.fadeout {
    -webkit-animation: fadeout 400ms;
    animation: fadeout 400ms;
    -webkit-animation-fill-mode: forwards; /* Chrome, Safari, Opera */
    animation-fill-mode: forwards;
}
/********************************************************************************/

/********************************************************************************/
/* Animation that drops an element (makes the element fall) */
@keyframes falling {
    0% {
        -ms-transform: translateY(0px); /* IE 9 */
        -webkit-transform: translateY(0px); /* Safari */
        transform: translateY(0px);
        opacity: 1;
    }

    75% {
        -ms-transform: translateY(150%); /* IE 9 */
        -webkit-transform: translateY(150%); /* Safari */
        transform: translateY(150%);
        opacity: 1;
    }

    100% {
        -ms-transform: translateY(200%); /* IE 9 */
        -webkit-transform: translateY(200%); /* Safari */
        transform: translateY(200%);
        opacity: 0;
    }
}

@-webkit-keyframes falling {
    0% {
        -ms-transform: translateY(0px); /* IE 9 */
        -webkit-transform: translateY(0px); /* Safari */
        transform: translateY(0px);
        opacity: 1;
    }

    75% {
        -ms-transform: translateY(150%); /* IE 9 */
        -webkit-transform: translateY(150%); /* Safari */
        transform: translateY(150%);
        opacity: 1;
    }

    100% {
        -ms-transform: translateY(200%); /* IE 9 */
        -webkit-transform: translateY(200%); /* Safari */
        transform: translateY(200%);
        opacity: 0;
    }
}

.falling {
    -webkit-animation: falling 1s 1 linear;
    animation: falling 1s 1 linear;
    -webkit-animation-fill-mode: forwards; /* Chrome, Safari, Opera */
    animation-fill-mode: forwards;
    /* Increase z-index such that falling elements fall in front of other elements rather than behind other elements. */
    z-index: 1000;
    position: relative;
}
/********************************************************************************/

.sliding {
    position: relative;
    animation-name: slide-in;
    -webkit-animation-name: slide-in;
    -moz-animation-name: slide-in;
    animation-duration: 2s;
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
}

#search-results-container span>img:hover {
    width: 100%;
}

div.grid-item {
    width: 320px;
    height: 320px;
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
    display: inline-block;
    overflow: hidden;
    text-align: center; /* Center nested inline-block container (i.e. the span element) of image */
    /*vertical-align: middle;*/
}

div.grid-item > * {
    vertical-align: middle;
}
.search-result {
    margin: 5px;
}

.flipper {
    box-shadow: 7px 7px 7px 0px rgba(0,0,0,0.7);
}

.flipped {
    /* Reverse the shadow when element is flipped */
    box-shadow: -7px 7px 7px 0px rgba(0,0,0,0.7);
}

.flipper-front, .flipper-back {
    background-color: khaki;
    overflow: hidden;
    /*padding: 10px 10px 10px 10px;*/
    /*box-sizing: border-box;*/
    /*-webkit-box-sizing: border-box;*/
}

.flipper-front>div, .flipper-back>div {
    margin: 15px 15px 10px 15px;
    overflow: auto;
}

.btn-flip {
    width: 40px;
    height: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    /*float: right;*/
    display: block;
}
/*#bulletin {*/
    /*background-image: url("../images/bulletin-board.jpg");*/
    /*width: 485px;*/
    /*height: 640px;*/
    /*max-height: 970px;*/
    /*max-width: 1280px;*/
    /*background-size: 100%;*/
    /*box-shadow: 5px 5px 5px #aaa;*/
/*}*/

#bulletin {
    background-image: url("../images/cork.jpg");
    width: 100%;
    max-width: 426px;
    height: 1280px;

    /* TODO consider this wooden border. */
    /*border-image-source: url("../images/wood2.jpg");*/
    /*border-image-width: 25px;*/
    /*border-image-slice: 60;*/
    /*border-image-repeat: round;*/

    box-shadow: 7px 7px 7px 0px rgba(0,0,0,0.7);
    border-radius: 10px;
}

#bulletin .flipper-container, #bulletin .push-pin {
    margin-left: auto;
    margin-right: auto;
}

.push-pin {
    /* Adds a push-pin to images on the cork board. */
    content: '';
    background-image: radial-gradient(red 50%, black 100%);
    position: relative;
    top: 25px;
    z-index: 100;
    width: 20px;
    height: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    box-shadow: 7px 7px 7px 0px rgba(0,0,0,0.7);
}

#search-results-container .search-result {
    display: inline-block;
    vertical-align: middle;
    transform: rotate(1deg);
}

form {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

#inputSearchTerm {
    width: 100%;
    font-size: 2em;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 7px 7px 7px 0px rgba(0,0,0,0.7);
    border: 1px solid black;
    padding: 5px;
    color: brown;
}

#search-results-navigation {
    width: intrinsic; /* CSS3 way for fitting width to contents */
    margin-left: auto;
    margin-right: auto;
}

#search-results-navigation input[type='image'] {
    height: 60px;
    width: auto;
}