/* Styles for the index.html */

#content-lhs {
    float: left;
}

#content-rhs {
    float: right;
}


/* Style images returned from the flickr search */
#search-results-container img {
    /*width: 50%;*/
    /*height: auto;*/
    /*max-width: 100%;*/
    /*-ms-transform: scale(0.5, 0.5);  *//* IE 9 */
    /*-webkit-transform: scale(0.5, 0.5);  *//* Safari */
    /*transform: scale(0.5, 0.5);*/
}

/*#search-results-container img:hover {*/
    /*-ms-transform: scale(1, 1);  *//* IE 9 */
    /*-webkit-transform: scale(1, 1);  *//* Safari */
    /*transform: scale(1, 1);*/
/*}*/

#search-results-container {
    vertical-align: middle;
}


#search-results-container span {
    display: inline-block;
    vertical-align: middle;
    line-height: 320px;
}

#search-results-container span>img {
    width: 50%;
    height: auto;
    vertical-align: middle;
    transition: width 0.5s;
}

@keyframes slide-in {
    from { top: -200px; }
    to { top: 0px; }
}

@-webkit-keyframes slide-in {
    from { top: -200px; }
    to { top: 0px; }
}

.sliding {
    position: relative;
    animation-name: slide-in;
    -webkit-animation-name: slide-in;
    -moz-animation-name: slide-in;
    animation-duration: 2s;
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
}

#search-results-container span>img:hover {
    width: 100%;
}

div.grid-item {
    width: 320px;
    height: 320px;
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
    display: inline-block;
    overflow: hidden;
    text-align: center; /* Center nested inline-block container (i.e. the span element) of image */
    /*vertical-align: middle;*/
}

div.grid-item > * {
    vertical-align: middle;
}
.search-result {
    margin: 5px;
}
.flipper-container {
    box-shadow: 5px 5px 5px black;
    -webkit-box-shadow: -5px 5px 5px black;
}

.flipper-front, .flipper-back {
    background-color: khaki;
    overflow: hidden;
    /*padding: 10px 10px 10px 10px;*/
    /*box-sizing: border-box;*/
    /*-webkit-box-sizing: border-box;*/
}

.flipper-front>div, .flipper-back>div {
    margin: 10px 10px 10px 10px;
    overflow: auto;
}

.btn-flip {
    width: 40px;
    height: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    /*float: right;*/
    display: block;
}
/*#bulletin {*/
    /*background-image: url("../images/bulletin-board.jpg");*/
    /*width: 485px;*/
    /*height: 640px;*/
    /*max-height: 970px;*/
    /*max-width: 1280px;*/
    /*background-size: 100%;*/
    /*box-shadow: 5px 5px 5px #aaa;*/
/*}*/

#bulletin {
    background-image: url("../images/cork.jpg");
    width: 426px;
    max-width: 426px;
    height: 1280px;

    /* TODO consider this wooden border. */
    /*border-image-source: url("../images/wood2.jpg");*/
    /*border-image-width: 25px;*/
    /*border-image-slice: 60;*/
    /*border-image-repeat: round;*/

    box-shadow: 5px 5px 5px #aaa;
}